@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-pink: #f7d2d2;
  --color-beige: #dad5c7;
  --color-lavender: #bca6c9;
  --color-purple: #937195;
  --color-plum: #553a5c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-alef: "Alef", sans-serif;
  --color-pink: #f7d2d2;
  --color-beige: #dad5c7;
  --color-lavender: #bca6c9;
  --color-purple: #937195;
  --color-plum: #553a5c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.map-pin-icon {
  filter: drop-shadow(0 2px 4px rgb(184, 103, 103));
  transition: all 0.2s ease;
}

.map-pin-icon:hover {
  transform: translateY(-2px) scale(1.05);
  filter: drop-shadow(0 5px 6px rgb(0, 0, 0));
}

.map-circle-icon {
  border-radius: 50%;
  border: 2px solid rgb(73, 57, 71);
  box-shadow: 0 0 10px rgb(68, 40, 40);
  transition: all 0.2s ease;
}

.map-circle-icon:hover {
  transform: scale(1.3);
  box-shadow: 0 0 30px rgb(73, 52, 52);
}

.custom-plum-pin {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
  transition: all 0.2s ease;
}

.custom-plum-pin:hover {
  transform: translateY(-2px) scale(1.3);
  filter: drop-shadow(0 5px 15px rgb(145, 111, 111));
}
